<h1>Articles</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :id) %></th>
      <th scope="col"><%= sort_link(@q, :title) %></th>
      <th scope="col"><%= sort_link(@q, :user_first_name, "Author") %></th>
      <th scope="col"><%= sort_link(@q, :created_at, "Date Created") %></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td scope="row"><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.user.first_name %> <%= article.user.last_name %></td>
        <td><%= article.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
